.heading{
    background-color: rgb(199, 244, 255);
    padding: 10px;
    border-radius: 13px;
}

body{
    background-color: rgb(255, 255, 255);    
}

p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    background-color: burlywood;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.links{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-decoration: none;
}