body{
    background-color: rgb(231, 239, 255);
}

h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
}

ol{
    margin-left: 25%;
}

li{
    font-family:monospace;
    font-size: 1.2rem;
}