table, th, td{
    border: 2px solid green;
    border-collapse: collapse;
}
th, td{
    padding: 12px;
}
th:nth-child(even){
    background-color: antiquewhite;
}
th:nth-child(odd){
    background-color: rgb(202, 117, 219);
}
tr:nth-child(even){
    background-color: rgb(133, 228, 124);
}
tr:nth-child(odd){
    background-color: rgb(130, 163, 235);
}
body{
    margin: 25%;
}