body{
    margin: 25%;
}
form{
    background-color: rgb(227, 210, 255);
    padding: 1em;
    border-radius: 4px;
}
button{
    background-color: rgb(24, 189, 240);
    padding: 4px;
    border-radius: 4px;
    margin-left: 35%;
}
